<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	<clear/>
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="RemotelyHQ_Shared_Packages" value="https://pkgs.dev.azure.com/RemotelyHQDevops/_packaging/RemotelyHQ_Shared_Packages/nuget/v3/index.json" />
  </packageSources>
</configuration>